
<% for(var i =0; i<tasks.length; i++) { %>
<tr>
    <td><%= tasks[i].title%></td>
    <td><%= tasks[i].description%></td>
    <td><%= moment(tasks[i].start).format('DD/MM/YYYY h:mm A ')%></td>
    <td><%= moment(tasks[i].end).format('DD/MM/YYYY h:mm A ')%></td>
    <td><%= tasks[i].priority%></td>
    <td><%= tasks[i].status%></td>
    <td>
        <a href="/update-task" class="btn border-shadow update">
        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
        <span class="text-gradient"><i class="fa-solid fa-xmark"></i></i></span>
        </a>
    </td>
</tr>
<% }%>